{% extends "base.html" %}
{% set page = "contact" %}
{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact</h1>

<p>If you have any questions, suggestions, or feedback, feel free to reach out to our team members:</p>

<ul>
  <li>Linlin Zhang – <a href="mailto:lz2981@columbia.edu">lz2981@columbia.edu</a></li>
  <li>Ken Deng – <a href="mailto:kd3005@columbia.edu">kd3005@columbia.edu</a></li>
  <li>Ziyue Jin – <a href="mailto:zj2393@columbia.edu">zj2393@columbia.edu</a></li>
  <li>Cheng Yang – <a href="mailto:cy2748@columbia.edu">cy2748@columbia.edu</a></li>
</ul>

<p>You can also leave feedback or open issues on our GitHub repository:</p>
<p><a href="https://github.com/FELIX75791/ui-film-tutorial" target="_blank">https://github.com/FELIX75791/ui-film-tutorial</a></p>

{% endblock %}